{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon - Profil de {{app.user.pseudo}}{% endblock %}
{% block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block body %}

    <div class="editor__show-wrapper">

        <h2 class="editor__title">Profil - {{app.user.pseudo}}</h2>

        <a href="{{path("edit_profile")}}" class="login__resetpw-link">Modifier mes informations</a><br>
        <a href="/reset-password" class="login__resetpw-link">Modifier mon mot de passe</a>
        <br><br>

        <span class="editor__show-monospace">Pseudonyme</span> : {{app.user.pseudo}}<br><br>
        <span class="editor__show-monospace">Adresse e-mail</span> : {{app.user.email}}<br><br>
        <span class="editor__show-monospace">Points de vie</span> : {{app.user.PVactuels}} / {{app.user.PVmax}}<br><br>
        <span class="editor__show-monospace">Nombre de chapitres visités</span> : {{app.user.chapitres|length}}<br><br>
        <span class="editor__show-monospace">Zones visitées</span> : <br>
        <div class="editor__show-text-wrapper">
            {% for zone in app.user.visites %}
                - {{zone}}<br>
            {% endfor %}
        </div>
        <span class="editor__show-monospace">Inventaire</span> : <br>
        <div class="editor__show-text-wrapper">
            {% for item in app.user.inventaire %}
                - {{item}}<br>
            {% endfor %}
        </div>
        {% if app.user.combats is not empty %}            
            <span class="editor__show-monospace">Ennemis affrontés</span> : <br>
            <div class="editor__show-text-wrapper">
                {% for combat in app.user.combats %}
                    - {{combat.monstres}}<br>
                {% endfor %}
            </div>
        {% endif %}

        <div class="profile__delete-button-box">
            <div class="editor__btn editor__cancel profile__delete-button" id="profile__delete-button" >Supprimer mon compte</div>
        </div>

        {# Modale pour valider la suppression #}
        <div class="profile__deletebox" id="profile__deletebox">
            <div class="profile__deletebox-content">

                <div class="profile__deletebox-info">
                    <h2>Attention !</h2>
                    <br>
                    <p>
                        Vous vous apprêtez à supprimer totalement votre compte.<br>
                        Cette manoeuvre est irréversible et 
                        l'intégralité de vos données de progression seront écrasées.
                        <br><br>
                        Souhaitez vous tout de même poursuivre ?
                    </p>
                </div>
                <div class="profile__delete-buttonsbox">
                    <a href="{{path("view_profile")}}" class="editor__btn editor__cancel">Annuler</a>
                    <a href="{{path("delete_profile")}}" class="editor__btn editor__submit">Valider</a>
                </div>
                <div class="profile__deletebox-exit" id="profile__deletebox-exit"><i class="fa-regular fa-circle-xmark"></i></div>
            </div>
        </div>


    </div>

{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/delete_profile.js') }}"></script>
{% endblock %}