{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h2>Bienvenue sur MicroDonjon</h2>

    <p class="intro-text">
        MicroDonjon est un <strong>jeu textuel</strong> s'inspirant librement et avec nostalgie des <strong>Livres Dont Vous Êtes 
        Le Héros</strong> des années 80/90. Enfilez votre armure, affutez votre dague et embarquez dans un univers 
        d'<strong>Heroïc Fantasy</strong>. Les mystères du donjon d'Ängerjalg vous attendent !
    </p>

    {% if app.user %}
        {% if app.user.chapitreEnCours %}
            <a href="{{path("routing", {'id': app.user.chapitreEnCours})}}">Continuer la partie en cours</a><br>
            <a href="{{path("reset")}}">Écraser la partie en cours</a>
        {% else %}
            <a href="{{path("routing", {'id': 1})}}">Commencer une nouvelle partie</a>
        {% endif %}

    {% else %}
        <a href="{{path("app_login")}}" class="menu__link">Se connecter</a> - 
        <a href="{{path("app_register")}}" class="menu__link">S'inscrire</a>
    {% endif %}

</div>
{% endblock %}
