{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon - S'inscrire{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h2 class="register__title" >S'inscrire</h2>
    <div class="register__wrapper">
        <div class="register__form">
            {{ form_start(registrationForm) }}
            {% form_theme registrationForm 'forms/fields.twig' %}

                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.pseudo) }}
                {{ form_row(registrationForm.plainPassword) }}

                {% form_theme registrationForm.agreeTerms 'forms/checkboxes.twig' %}
                {{ form_row(registrationForm.agreeTerms) }}
                
                <div class="editor__buttons-box">
                    <a href="{{path("app_home")}}" class="editor__btn editor__cancel">Annuler</a>
                    {{ form_row(registrationForm.submit) }}
                </div>
                
            {{ form_end(registrationForm) }}
        </div>
        
        <div class="register__imgbox">
            <img src="{{asset("img/decoration/skeleton.png")}}" 
            alt="Dessin à l'aquarelle d'un squelette brandissant une épée dans un donjon" class="register__img">
        </div>

    </div>

{% endblock %}
