{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon{% endblock %}
{% block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block body %}

<div class="editor__form-wrapper">
    <h2 class="editor__show-title">Éditeur de chapitres à condition</h2>
    <div class="editor__show-monospace">
        {% if chapitre is defined %}
            Chapitre n°{{chapitre.id}}
        {% else %}
            Nouveau chapitre
        {% endif %}
    </div>

    <div class="editor__form">
        {{ form_start(formAddChapCondition) }}
            {% form_theme formAddChapCondition 'forms/fields.twig' %}
    
            {{ form_row(formAddChapCondition.titreChapitre) }}
            {{ form_row(formAddChapCondition.texteSiVrai) }}
            {{ form_row(formAddChapCondition.texteSiFaux) }}
            {{ form_row(formAddChapCondition.zone) }}
            {{ form_row(formAddChapCondition.itemCondition) }}
    
            <span class="editor__label editor__exits-list-label">Liste des sorties</span>
    
            <div id="listeSorties" class="editor__exits-list" data-prototype="{{ form_widget(formAddChapCondition.sorties.vars.prototype)| e('html_attr') }}">
                {% form_theme formAddChapCondition.sorties 'forms/cards.twig' %}
                {% for sortie in formAddChapCondition.sorties %}
                    <div class="editor__exit-card">
                        {% form_theme sortie 'forms/cards.twig' %}
                        {% form_theme sortie.conditionVrai 'forms/checkboxes.twig' %}

                        {{ form_row(sortie) }}
                    </div>
                    <br>
                {% endfor %}
                <a id="addSortie" href="#" class="editor_add-exit-btn"><i class="fa-solid fa-plus"></i> Nouvelle Sortie</a><br><br>
            </div>
    
            <div class="editor__buttons-box">
                {% if chapitre is defined %}
                    <a href="{{path("show", {'id': chapitre.id})}}" class="editor__btn editor__cancel">Annuler</a>
                {% else %}
                    <a href="{{path("admin_editor")}}" class="editor__btn editor__cancel">Annuler</a>
                {% endif %}

                {{ form_row(formAddChapCondition.submit) }}
            </div>

        {{ form_end(formAddChapCondition) }}
    </div>

</div>
{% endblock %}