{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Editeur de chapitres standards</h1>

    {{ form_start(formAddChapStandard) }}

        {{ form_row(formAddChapStandard.titreChapitre) }}
        {{ form_row(formAddChapStandard.texteChapitre) }}
        {{ form_row(formAddChapStandard.zone) }}
        {{ form_row(formAddChapStandard.modifGold) }}
        {{ form_row(formAddChapStandard.modifPV) }}
        {{ form_row(formAddChapStandard.modifAttaque) }}
        {{ form_row(formAddChapStandard.itemPrendre) }}
        {{ form_row(formAddChapStandard.itemPerdre) }}

        <br>
        Sorties :
        <br><br>

        <div id="listeSorties" data-prototype="{{ form_widget(formAddChapStandard.sorties.vars.prototype)| e('html_attr') }}">
            {% for sortie in formAddChapStandard.sorties %}
                <div class="card">
                    {{ form_row(sortie) }}
                </div>
                <br>
            {% endfor %}
            <a id="addSortie" href="#" class="">Ajouter une sortie</a><br><br>
        </div>

        {{ form_row(formAddChapStandard.submit) }}

    {{ form_end(formAddChapStandard) }}

</div>
{% endblock %}