{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}

    <h1>Éditeur de chapitres</h1>

    <div class="editor__btn-box">
        <a href="{{path("add_standard")}}" class="editor_add-chapter"><i class="fa-solid fa-plus"></i> chapitre standard</a>
        <a href="{{path("add_combat")}}" class="editor_add-chapter"><i class="fa-solid fa-plus"></i> chapitre combat</a>
        <a href="{{path("add_condition")}}" class="editor_add-chapter"><i class="fa-solid fa-plus"></i> chapitre condition</a>
    </div>
    
    <div class="editor__cards-wrapper">
        {% for tableauChapitre in tableauTotal %}
            <div class="editor__cards">
                <a href="{{path("show", {'id': tableauChapitre[0].id})}}" class="editor__menu-link">Chapitre n° {{tableauChapitre[0].id}}</a><br>
                Titre : {{tableauChapitre[0].titreChapitre}}<br>
                Type : {{tableauChapitre[0].typePage}}<br>
                Zone : {{tableauChapitre[0].zone}}<br>
                {% if tableauChapitre[1]|length <= 1 %}
                    Sortie :
                {% else %}
                    Sorties : 
                {% endif %}

                {% for sortie in tableauChapitre[1] %}

                    {{sortie.chapitre.id}}
                    {% if not loop.last %}
                         / 
                    {% endif %}
                {% endfor %}
                <br>
                <div class="editor__edit-icons">
                    <a href="{{path("edit_routing", {'id': tableauChapitre[0].id})}}"><i class="fa-solid fa-pen-to-square"></i></a> 
                    <a href="{{path("delete", {'id': tableauChapitre[0].id})}}"><i class="fa-solid fa-trash"></i></a>   
                </div>
            </div>
        {% endfor %}

    </div>
{% endblock %}