{% extends 'dashboard.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}


<div class="editor__show-wrapper">
    <a href="{{path("admin_editor")}}" class="editor__back-btn">
        <i class="fa-solid fa-circle-arrow-left"></i> Liste des chapitres
    </a>

    <div class="editor__show-title-block">
        <h2 class="editor__show-title">{{chapitre.id}} : {{chapitre.titreChapitre}}</h2>
        <div class="editor__show-monospace">Chapitre {{chapitre.typePage}}</div>
    </div>

    <div>
        <span class="editor__show-monospace">Zone</span> : {{chapitre.Zone}}<br><br>
        <span class="editor__show-monospace">Texte <i>(condition vérifiée)</i></span> : 
        <div class="editor__show-text-wrapper">
            {{chapCondition.texteSiVrai | raw}}
        </div>
        <span class="editor__show-monospace">Texte <i>(condition non vérifiée)</i></span> : 
        <div class="editor__show-text-wrapper">
            {{chapCondition.texteSiFaux | raw}}
        </div>

        <span class="editor__show-monospace">Objet de la condition</span> : {{chapCondition.itemCondition}}
        <br><br>
        <span class="editor__show-monospace">Sorties disponibles</span> : <br>

        <div class="editor__show-text-wrapper">
            {% for sortie in chapCondition.sorties %}
                <a href="{{path("show", {'id': sortie.chapitre.id})}}" class="editor__show-exits"><i class="fa-solid fa-play"></i> [{{sortie.chapitre.id}}] : {{sortie.texteLien}}</a>
                {% if sortie.conditionVrai %}
                    <i>(condition vérifiée)</i>
                {% else %}
                    <i>(condition non vérifiée)</i>
                {% endif %}
                <br>
            {% endfor %}
        </div>

    </div>

</div>
{% endblock %}