{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>[{{chapitre.id}}] : {{chapitre.titreChapitre}}</h1>
    <h2>Chapitre {{chapitre.typePage}}</h2>

    <div>
        Zone : {{chapitre.Zone}}<br><br>
        Texte initial : {{chapCombat.texteInitial | raw}}<br><br>
        Texte de victoire : {{chapCombat.texteVictoire | raw}}<br><br>
        Monstre : {{chapCombat.monstre}}
        <br><br>
        Sorties disponibles : <br>

        {% for sortie in chapCombat.sorties %}
            [{{sortie.chapitre.id}}] : {{sortie.texteLien}}<br>
        {% endfor %}

    </div>

</div>
{% endblock %}