{% extends 'base.html.twig' %}

{% block title %}MicroDonjon - {{chapCombat.monstre}}{% endblock %}

{% block body %}
<style>

</style>

<div class="game__right-page-content">
    <div class="game__chapter-header">
        <div class="game__chap-number">Chapitre {{ random(1,400)}}</div>
        <h2>{{chapitre.zone}}</h2>
    </div>

    <p>{{chapCombat.texteInitial | raw}}</p>

    {{chapCombat.monstre}}<br>
    PV : {{combat.PVactuelsMonstre}}/{{chapCombat.monstre.PVmaxMonstre}}<br>
    Attaque : {{chapCombat.monstre.attaqueMonstre}}
    
    {% if combat.PVactuelsMonstre > 0 and app.user.PVactuels > 0 %}
        <br><br>
        <a href="{{path("combattre", {'idcombat': combat.id, 'idchap': chapitre.id, 'idchapcombat':chapCombat.id})}}">Attaquer</a>
        <br><br>
    {% endif %}

    {% if attaque is defined and attaque == true %}
        Vos lancers : {{lancers[0]}} + {{lancers[1]}} + {{app.user.attaque}} 
        (total : {{totalJoueur}})<br>
        Lancers de la créature: {{lancers[2]}} + {{lancers[3]}} + {{chapCombat.monstre.attaqueMonstre}}
        (total : {{totalMonstre}})<br><br>
        {{texteCombat}}<br><br>
    {% endif %}


    {% if app.user.PVactuels <= 0 %}
        Le dernier coup porté par la créature vous fait vaciller. Votre vision se trouble.
        <ul class="game__choices">
            <li><a href="{{path("game_over")}}">Vous vous sentez défaillir.</a></li>
        </ul>
    {% endif %}

    {% if combat.PVactuelsMonstre <= 0 %}
        <p>{{chapCombat.texteVictoire | raw}}</p>
        <ul class="game__choices">
            {% for sortie in chapCombat.sorties %}
                <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
            {% endfor %} 
        </ul>  
    {% endif %}

</div>
{% endblock %}