{% extends 'base.html.twig' %}

{% block title %}MicroDonjon - {{chapCombat.monstre}}{% endblock %}

{% block body %}

<div class="game__right-page-content">
    <div class="game__chapter-header">
        <div class="game__chap-number">Chapitre {{ random(1,400)}}</div>
        <h2>{{chapitre.zone}}</h2>
    </div>

    {% if combat.PVactuelsMonstre > 0 and app.user.PVactuels > 0 %}
        {% if attaque is not defined %}
            <p>{{chapCombat.texteInitial | raw}}</p>
        {% endif %}

        <div class="game__monster-box">
            <div class="game__monster-imgbox">
                <img src="{{asset(chapCombat.monstre.imageMonstre)}}" alt="{{chapCombat.monstre}}" class="game__monster-image">
            </div>
            <div class="game__monster-box-right">
                <ul class="game__monster-stats">
                    <li>{{chapCombat.monstre}}</li>
                    <li>PV : {{combat.PVactuelsMonstre}}/{{chapCombat.monstre.PVmaxMonstre}}</li>
                    <li>Attaque : {{chapCombat.monstre.attaqueMonstre}}</li>
                </ul>
                {% if combat.PVactuelsMonstre > 0 and app.user.PVactuels > 0 %}
                    <a href="{{path("combattre", {'idcombat': combat.id, 'idchap': chapitre.id, 'idchapcombat':chapCombat.id})}}" class="game__attack-btn">Attaquer</a>
                {% endif %}
            </div>
        </div>

        {% if attaque is defined and attaque == true %}
            <div class="game__rolls-box">
                <div class="game__roll">                
                    <span class="game__rolls-title">Vos lancers :</span>
                    <div class="game__dice-box game__hero-dice-box">
                        <div class="game__die-imgbox">
                            <img src="{{asset("img/dice/dice_hero_" ~ lancers[0] ~ ".png")}}" alt="Dé sur la face {{lancers[0]}}" class="game__die-side">
                        </div>
                        +
                        <div class="game__die-imgbox">
                            <img src="{{asset("img/dice/dice_hero_" ~ lancers[1] ~ ".png")}}" alt="Dé sur la face {{lancers[1]}}" class="game__die-side">
                        </div>
                        +
                        <div class="game__attack-stat-box">
                            <div class="game__combat-attack-stat">
                                {{app.user.attaque}}
                            </div>
                            <div class="game__swords-imgbox">
                                <img src="{{asset("img/icons/swords_icon_brown.png")}}" alt="Logo : deux épées croisées" class="game__die-side">
                            </div>
                        </div>
                        =
                        <div class="game__combat-total">
                            {{totalJoueur}}
                        </div>
                    </div>
                </div>
                <div class="game__roll">
                    <span class="game__rolls-title">Lancers de la créature :</span>
                    <div class="game__dice-box game__monster-dice-box">
                        <div class="game__die-imgbox">
                            <img src="{{asset("img/dice/dice_monster_" ~ lancers[2] ~ ".png")}}" alt="Dé sur la face {{lancers[2]}}" class="game__die-side">
                        </div>
                        +
                        <div class="game__die-imgbox">
                            <img src="{{asset("img/dice/dice_monster_" ~ lancers[3] ~ ".png")}}" alt="Dé sur la face {{lancers[3]}}" class="game__die-side">
                        </div>
                        +
                        <div class="game__attack-stat-box">            
                            <div class="game__combat-attack-stat">
                                {{chapCombat.monstre.attaqueMonstre}}
                            </div>
                            <div class="game__swords-imgbox">
                                <img src="{{asset("img/icons/swords_icon_red.png")}}" alt="Logo : deux épées croisées" class="game__die-side">
                            </div>
                        </div>
                        =
                        <div class="game__combat-total">
                            {{totalMonstre}}
                        </div>
                    </div>
                </div>
            </div>
            {{texteCombat | raw}}
        {% endif %}
    {% endif %}


    {% if app.user.PVactuels <= 0 %}
        Le dernier coup porté par la créature vous fait vaciller. Votre vision se trouble.
        <ul class="game__choices">
            <li><a href="{{path("game_over")}}">Vous vous sentez défaillir.</a></li>
        </ul>
    {% endif %}

    {% if combat.PVactuelsMonstre <= 0 %}
        <p>{{chapCombat.texteVictoire | raw}}</p>
        <ul class="game__choices">
            {% for sortie in chapCombat.sorties %}
                <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
            {% endfor %} 
        </ul>  
    {% endif %}

</div>
{% endblock %}