{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>- {{chapitre.zone}} -</h1>

    <p>{{chapCombat.texteInitial | raw}}</p>

    {{chapCombat.monstre}}<br>
    PV : {{combat.PVactuelsMonstre}}/{{chapCombat.monstre.PVmaxMonstre}}<br>
    Attaque : {{chapCombat.monstre.attaqueMonstre}}

    <p>{{chapCombat.texteVictoire | raw}}</p>

    {% for sortie in chapCombat.sorties %}
        <a href="{{path("routing", {'id': sortie.chapitre.id})}}">{{sortie.texteLien}}</a><br><br>
    {% endfor %}    

</div>
{% endblock %}