{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>- {{chapitre.zone}} -</h1>

    <p>{{chapCombat.texteInitial | raw}}</p>

    {{chapCombat.monstre}}<br>
    PV : {{combat.PVactuelsMonstre}}/{{chapCombat.monstre.PVmaxMonstre}}<br>
    Attaque : {{chapCombat.monstre.attaqueMonstre}}
    <br>
    <a href="{{path("combattre", {'idcombat': combat.id, 'idchap': chapitre.id, 'idchapcombat':chapCombat.id})}}">Attaquer</a><br><br>

    {% if attaque is defined and attaque == true %}
        Vos lancers : {{lancers[0]}} + {{lancers[1]}} + {{app.user.attaque}} 
        (total : {{totalJoueur}})<br>
        Lancers de la créature: {{lancers[2]}} + {{lancers[3]}} + {{chapCombat.monstre.attaqueMonstre}}
        (total : {{totalMonstre}})<br>
        {{texteCombat}}
    {% endif %}

    <p>{{chapCombat.texteVictoire | raw}}</p>

    {% for sortie in chapCombat.sorties %}
        <a href="{{path("routing", {'id': sortie.chapitre.id})}}">{{sortie.texteLien}}</a><br><br>
    {% endfor %}    

</div>
{% endblock %}