{% extends 'base.html.twig' %}

{% block title %}MicroDonjon - {{chapitre.zone}}{% endblock %}
{% block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block body %}

<div class="game__right-page-content">
    <div class="game__chapter-header">
        <div class="game__chap-number">Chapitre {{ random(1,400)}}</div>
        <h2>{{chapitre.zone}}</h2>
    </div>

    {% if condition %}
        <p>{{chapCondition.texteSiVrai | raw}}</p>
    {% else %}
        <p>{{chapCondition.texteSiFaux | raw}}</p>
          
    {% endif %}

    <ul class="game__choices">
        {% for sortie in chapCondition.sorties %}
            {% if (sortie.conditionVrai) and condition %}
                <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
            {% elseif (not sortie.conditionVrai) and (not condition) %}
                <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
    
    
</div>
{% endblock %}