{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="game__right-page-content">
    <div class="game__chapter-header">
        <div class="game__chap-number">Chapitre {{ random(1,400)}}</div>
        <h1>{{chapitre.zone}}</h1>
    </div>

    {% if condition %}
        <p>{{chapCondition.texteSiVrai | raw}}</p>

        {% for sortie in chapCondition.sorties %}
            <ul class="game__choices">
                {% if sortie.conditionVrai %}
                    <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
                {% endif %}
            </ul>
        {% endfor %}

    {% else %}
        <p>{{chapCondition.texteSiFaux | raw}}</p>
        
        {% for sortie in chapCondition.sorties %}
            <ul class="game__choices">
                {% if not sortie.conditionVrai %}
                    <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a></li>
                {% endif %}
            </ul>
        {% endfor %}   
    {% endif %}
    
    
</div>
{% endblock %}