{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="game__right-page-content">
    <h1>- {{chapitre.zone}} -</h1>

    {% if condition %}
        <p>{{chapCondition.texteSiVrai | raw}}</p>

        {% for sortie in chapCondition.sorties %}
            {% if sortie.conditionVrai %}
                <a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a><br><br>
            {% endif %}
        {% endfor %}

    {% else %}
        <p>{{chapCondition.texteSiFaux | raw}}</p>
        
        {% for sortie in chapCondition.sorties %}
            {% if not sortie.conditionVrai %}
                <a href="{{path("routing", {'id': sortie.chapitre.id})}}" class="links__choice">{{sortie.texteLien}}</a><br><br>
            {% endif %}
        {% endfor %}   
    {% endif %}
    
    
</div>
{% endblock %}