{% extends 'base.html.twig' %}

{% block title %}MicroDonjon - {{chapitre.zone}}{% endblock %}
{% block noindex %}<meta name="robots" content="noindex">{% endblock %}

{% block body %}

<div class="game__right-page-content">
    
    <div class="game__chapter-header">
        <div class="game__chap-number">Chapitre {{ random(1,400)}}</div>
        <h2>{{chapitre.zone}}</h2>
    </div>

    <p>{{chapStandard.texteChapitre | raw}}</p>

    {% if app.user.PVactuels > 0 %}
        <ul class="game__choices">
            {% for sortie in chapStandard.sorties %}
                <li><a href="{{path("routing", {'id': sortie.chapitre.id})}}"  class="links__choice">{{sortie.texteLien}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <span>Hélas, vos blessures risquent de mettre un terme à vos aventures. Votre vision se trouble.</span>
        <ul class="game__choices">
            <li><a href="{{path("game_over")}}" class="links__choice">Vous vous sentez défaillir.</a></li>
        </ul>
    {% endif %}

</div>
{% endblock %}