{% extends 'base.html.twig' %}

{% block title %}MicroDonjon{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>- {{chapitre.zone}} -</h1>

    <p>{{chapStandard.texteChapitre | raw}}</p>

    {% for sortie in chapStandard.sorties %}
        <a href="{{path("routing", {'id': sortie.chapitre.id})}}">{{sortie.texteLien}}</a><br><br>
    {% endfor %}


    PV : {{app.user.PVactuels}} / {{app.user.PVmax}}<br>
    Or : {{app.user.gold}}<br>

    Inventaire : 
    {% for item in app.user.inventaire %}
        {{item}} / 
    {% endfor %}

</div>
{% endblock %}