<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="MicroDonjon est un jeu textuel s'inspirant librement et avec nostalgie des 
        Livres Dont Vous Êtes Le Héros des années 80/90 dans un univers d'Heroïc Fantasy">
        <title>{% block title %}{% endblock %}</title>
        {% block noindex %}{% endblock noindex %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main>
            <div class="game__main-wrapper">
                
                <div class="game__left-page" id="game__left-page">
                    <header class="game__header">
                        <nav class="navbar">
                            <a href="{{path("app_home")}}" class="menu__link">Home</a>
                            {% if app.user %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{path("admin_editor")}}" class="menu__link">Éditeur</a>
                                {% endif %}
                                {% if app.user.chapitreEnCours %}
                                    <a href="{{path("routing", {'id': app.user.chapitreEnCours})}}" class="menu__link">Aventure</a>
                                {% endif %}
                                <a href="{{path("app_logout")}}" class="menu__link">Déconnexion</a>
                            {% else %}
                                <a href="{{path("app_login")}}" class="menu__link">Connexion</a>
                                <a href="{{path("app_register")}}" class="menu__link">Inscription</a>
                            {% endif %}
                        </nav>
                        
                        <h1>MicroDonjon</h1>
    
                        <div class="toggle-close-icon" id="toggle-close-icon"><i class="fa-regular fa-circle-xmark"></i></div>
                    </header>

                    {% if app.user %}
                    <div class="game__left-page-content">
                        <div class="game__progression-box">
                            {% set counter = 1 %}
                            {% for zone in app.user.visites %}
                                {% if counter is odd %}                                
                                    <div class="game__zone game__zone-odd">
                                        {{zone}}
                                    </div>
                                {% else %}
                                    <div class="game__zone game__zone-even">
                                        {{zone}}
                                    </div>
                                {% endif %}
                                {% set counter = counter + 1 %}
                            {% endfor %}
                        </div>
                        <div class="game__inventory-grid">
                            <div class="game__item-imgbox">
                                <img src="{{asset("img/items/00_bourse.png")}}" alt="Bourse" class="game__item-image game__weapon">
                                {# <div class="game__info-item">
                                    {{app.user.gold}}
                                </div> #}
                                <div class="game__macaron">
                                    {{app.user.gold}}
                                </div>
                            </div>
                            {% for item in app.user.inventaire %}
                                <div class="game__item-imgbox" id="item-image-{{item.id}}" data-item-id="{{item.id}}">
                                    {% if item.id == 1 or item.id == 10 %}
                                        <img src="{{asset(item.imageItem)}}" alt="{{item}}" class="game__item-image game__weapon">
                                        {# <div class="game__info-item">
                                            {{app.user.attaque}}
                                        </div> #}
                                        <div class="game__macaron">
                                            {{app.user.attaque}}
                                        </div>
                                    {% else %}
                                        <img src="{{asset(item.imageItem)}}" alt="{{item}}" class="game__item-image">
                                    {% endif %}
                                </div>

                            {% endfor %}
                        </div>
                    </div>
                    
                    {% endif %}

                    <footer class="game__footer">
                        <small class="footer__cgu">
                            <a href="https://www.cnil.fr" target="_blank">Conditions générales d'utilisation</a>
                        </small>
                        <div class="footer__links">
                            <a href="https://www.instagram.com/spglx/" target="_blank" class="footer__instagram"><i class="fa-brands fa-instagram"></i></a>
                            <a href="https://www.twitter.com" target="_blank" class="footer__twitter"><i class="fa-brands fa-twitter"></i></a>
                            <a href="https://github.com/PM-Primo" target="_blank" class="footer__github"><i class="fa-brands fa-github"></i></a>
                        </div>
                    </footer>

                </div>
                
                <div class="game__right-page" id="game__right-page">
                    {% if app.user %}
                        <div class="game__hp-bar">
                            {% for i in 1..app.user.PVactuels %}
                                {% if i is odd %}
                                    {% if (50 < i) and (i <= 100) %}
                                        <div class="game__hp game__hp-odd"></div>
                                    {% else %}
                                        <div class ="game__hp game__hp-even"></div>
                                    {% endif %}
                                {% else %}
                                    {% if (50 < i) and (i <= 100) %}
                                        <div class="game__hp game__hp-even"></div>
                                    {% else %}
                                        <div class ="game__hp game__hp-odd"></div>
                                    {% endif %}                            
                                {% endif %}
                            {% endfor %}
                        </div>
                        <span class="game_hp-counter"><i class="fa-regular fa-heart"></i>  :  {{app.user.PVactuels}}  /  {{app.user.PVmax}}</span>
                    {% endif %}
                    <div class="toggle-open-icon" id="toggle-open-icon"><i class="fa-solid fa-bars"></i></div>
                    {% block body %}{% endblock %}
                </div>

                {# Les boîtes modales pour l'inventaire #}
                {% for item in app.user.inventaire %} 
                <div class="game__item-description-box" id="item-description-{{item.id}}">
                    <div class="game__item-description-content">
                        <div class="game__description-box-image">
                            <img src="{{asset(item.imageItem)}}" alt="{{item}}" class="game__item-image">
                        </div>
                        <div class="game__description-box-info">
                            <h2>{{item}}</h2>
                            <p>
                                {{item.descriptionItem|striptags('<br><div>')|raw}}
                            </p>
                        </div>
                        <div class="game__description-box-exit"><i class="fa-regular fa-circle-xmark"></i></div>
                    </div>
                </div>
            {% endfor %} 

            </div>

        </main>

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
