<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MicroDonjon{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <nav>
            <h1>MicroDonjon</h1>
            <a href="{{path("app_home")}}" class="menu__link">Home</a>
            {% if app.user %}
            {% if is_granted('ROLE_ADMIN') %}
                <a href="{{path("admin_editor")}}" class="menu__link">Éditeur</a>
            {% endif %}
                <a href="{{path("app_logout")}}" class="menu__link">Se déconnecter</a>
            {% else %}
                <a href="{{path("app_login")}}" class="menu__link">Se connecter</a>
                <a href="{{path("app_register")}}" class="menu__link">S'inscrire</a>
            {% endif %}
        </nav>
        <main>
            {% block body %}{% endblock %}
        </main>
        
        {% if app.user %}
            {# Emplacement provisoire pour l'inventaire/stats #}
            <br><br>
            PV : {{app.user.PVactuels}} / {{app.user.PVmax}}<br>
            Or : {{app.user.gold}}<br>
            Attaque : {{app.user.attaque}}<br>
        
            Inventaire : 
            {% for item in app.user.inventaire %}
                {{item}} / 
            {% endfor %}

            {# Emplacement provisoire pour le stack progression #}
            <br><br>Progression : <br>
            {% for zone in app.user.visites %}
                {{zone}} / 
            {% endfor %}
        {% endif %}
    
        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
