<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MicroDonjon{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/styles.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <main>
            <div class="game__main-wrapper">
                
                <div class="game__left-page">
                    
                    <h1>MicroDonjon</h1>

                    {% if app.user %}
                        PV : {{app.user.PVactuels}} / {{app.user.PVmax}}<br>
                        Or : {{app.user.gold}}<br>
                        
                        Inventaire : 
                        {% for item in app.user.inventaire %}
                            <div class="game__item-imgbox">
                                {% if item.id == 1 or item.id == 10 %}
                                    <img src="{{asset(item.imageItem)}}" alt="{{item}}" class="game__item-image game__weapon">
                                    <div class="game__info-weapon">
                                        {{app.user.attaque}}
                                    </div>
                                {% else %}
                                    <img src="{{asset(item.imageItem)}}" alt="{{item}}" class="game__item-image">
                                {% endif %}
                            </div>
                        {% endfor %}
                        
                        <br><br>Progression : <br>
                        {% for zone in app.user.visites %}
                        {{zone}} / 
                        {% endfor %}
                    {% endif %}

                    <nav>
                        <a href="{{path("app_home")}}" class="menu__link">Home</a>
                        {% if app.user %}
                        {% if is_granted('ROLE_ADMIN') %}
                            <a href="{{path("admin_editor")}}" class="menu__link">Éditeur</a>
                        {% endif %}
                            <a href="{{path("app_logout")}}" class="menu__link">Se déconnecter</a>
                        {% else %}
                            <a href="{{path("app_login")}}" class="menu__link">Se connecter</a>
                            <a href="{{path("app_register")}}" class="menu__link">S'inscrire</a>
                        {% endif %}
                    </nav>

                </div>
                
                <div class="game__right-page">
                    {% block body %}{% endblock %}
                </div>

            </div>

        </main>

        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
