<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="description" content="MicroDonjon est un jeu textuel s'inspirant librement et avec nostalgie des 
        Livres Dont Vous Êtes Le Héros des années 80/90 dans un univers d'Heroïc Fantasy">
        <title>{% block title %}{% endblock %}</title>
        {% block noindex %}{% endblock noindex %}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{asset('css/dashboard_styles.css')}}">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="editor__main-wrapper">
            <nav class="editor__navbar">
                {# <div class="nav__iconbox">
                    <a href="{{path("app_home")}}" class="editor__menu-link"><i class="fa-solid fa-house"></i></a>
                    {% if app.user %}
                        <a href="#"class="editor__menu-link"><i class="fa-solid fa-user"></i></a>
                        <a href="{{path("app_logout")}}" class="editor__menu-link"><i class="fa-solid fa-power-off"></i></a>
                    {% endif %}
                </div> #}
                <a href="{{path("app_home")}}" class="editor__menu-link">Home</a>
                {% if app.user %}
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{path("admin_editor")}}" class="editor__menu-link">Éditeur</a>
                    {% endif %}
                    {% if app.user.chapitreEnCours %}
                        <a href="{{path("routing", {'id': app.user.chapitreEnCours})}}" class="editor__menu-link">Aventure</a>
                    {% endif %}
                    <a href="{{path("view_profile", {'id': app.user.id})}}" class="editor__menu-link">Profil</a>
                    <a href="{{path("app_logout")}}" class="editor__menu-link">Déconnexion</a>
                {% else %}
                    <a href="{{path("app_login")}}" class="editor__menu-link">Connexion</a>
                    <a href="{{path("app_register")}}" class="editor__menu-link">Inscription</a>
                {% endif %}
            </nav>
            <main>
            
                <h1 class="dashboard__logo">MicroDonjon</h1>
                
                {% block body %}{% endblock %}
            
            </main> 
                
            <footer class="dashboard__footer">
                <small class="footer__cgu">
                    <a href="https://www.cnil.fr" target="_blank">Conditions générales d'utilisation</a>
                </small>
                <div class="footer__links">
                    <a href="https://www.instagram.com/spglx/" target="_blank" class="footer__instagram"><i class="fa-brands fa-instagram"></i></a>
                    <a href="https://www.twitter.com" target="_blank" class="footer__twitter"><i class="fa-brands fa-twitter"></i></a>
                    <a href="https://github.com/PM-Primo" target="_blank" class="footer__github"><i class="fa-brands fa-github"></i></a>
                </div>
            </footer>

        </div>


        {% block javascripts %}
            <script
                src="https://code.jquery.com/jquery-3.6.0.min.js"
                integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
                crossorigin="anonymous">
            </script>
            <script src="{{ asset('js/script.js') }}"></script>
        {% endblock %}
    </body>
</html>
